body{ 
   background-image: linear-gradient(to bottom right,#bd48d4,#f281c5 )
   
   
    
}
#all-contents {
    max-width: 800px;
    margin: auto;
    
}
/*navigation menu */
nav{
    background: rgb(252, 136, 181);
    margin: 20px;
    display: flex;
    padding: 10px;
    font-family: papyrus, fantasy;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: (#ce72e0);
    display: flex;
    margin-top: 20px;
    text-decoration:none;
    color:white
    
    
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
    font-family: papyrus, fantasy;
}

.sidebar-img {
    width: 200px;
    border-width: 20px;
    
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(105, 9, 174) ridge;
    padding: 8px;
    margin-top: 20px;
    border-style: dotted;
    
}

h2, h3 {
    margin: 0px;
}
img {
    border-radius: 90%;
    
}
/***Portfolio styles***/
.content h2{
    color: white;
    font-family: Papyrus, fantasy;
}
#portfolio {
    list-style-type: circle;
    padding-left:30px;
    font-family:Papyrus, fantasy;
    font-size: larger;
    padding-bottom: 50px;
}
#portfolio-li{
    background: #fff;
    padding: 50px;
    border-radius: 50px;
    margin-bottom:99px;
    font-family: fantasy, Papyrus;
    font-size: xx-large;

}
#portfolio-li:hover{
    Background:#eee
}
#portfolio-a{
    text-decoration: fantasy, Papyrus;
    color:#eee

}